/* You can add global styles to this file, and also import other style files */
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";
@font-face {
    font-family: 'Alternity';
    src: url(../src/assets/alternity-font/Alternity-8w7J.ttf);
}
@font-face {
    font-family: 'Alternity Bold';
    src: url(../src/assets/alternity-font/AlternityBold-YWl4.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Alternity Italic';
    src: url(../src/assets/alternity-font/AlternityItalic-Mm2n.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Alternity Bold Italic';
    src: url(../src/assets/alternity-font/AlternityBoldItalic-rpyL.ttf);
    font-weight: bold;
    font-style: italic;
}
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    > app-root {
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        min-height: -webkit-fill-available;

        .header {
            display: flex;
            justify-content: center;
            color: #fff;
            flex: 30;
            align-items: center;
            .title {
                font-family: 'Alternity Bold Italic';
                font-size: xxx-large;
            }
        }
        > app-quiz {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex: auto;
            .quizContainer form {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-evenly;
                flex-direction: row;
                .radio-group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .radio-button {
                        margin: 5px;
                    }
                }
                mat-card {
                    filter: drop-shadow(0px 0px 6px #0fccbb);
                    background: #3a0da5;
                    border: 10px double #0fccbb;
                    overflow: hidden;
                    min-height: 170px;
                    .ribbon {
                        position: fixed;
                        inset: auto 0 0 auto;
                        background: #08769b;
                        transform-origin: 0 100%;
                        transform: translate(29.3%) rotate(-45deg);
                        box-shadow: 0 0 0 999px #08769b;
                        clip-path: inset(0 -100%);
                      }
                }
                .spacer {
                    flex: 1 1 auto;
                }
            
                mat-card-content.mat-card-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                }
            }
        }
    }
}
.mat-radio-checked.invalid {
    color: #f32828;
}
.mat-radio-checked.valid {
    color: #08be02;
}

.large-button {
    padding: 35px;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .mat-raised-button {
        width: 280px;
        height: 80px;
        line-height: 80px;
    }
    .mat-button-wrapper {
        font-family: 'Alternity';
        font-size: x-large;
        color: #fff;
    }
}

$easy: #4dda16;
$medium: #e6bc33;
$hard: #f32828;

.gg-dice-1 {
    display: block;
    transform: scale(var(--ggs,1));
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: 2px solid $easy;
    border-radius: 3px
}
.gg-dice-1::before {
    content: "";
    display: block;
    box-sizing: border-box;
    background: $easy;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left:7px;
    top:7px
}

.gg-dice-2 {
    display: block;
    transform: scale(var(--ggs,1));
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: 2px solid $medium;
    border-radius: 3px
}
.gg-dice-2::before {
    content: "";
    display: block;
    box-sizing: border-box;
    background: $medium;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left:2px;
    top:2px;
    box-shadow: 10px 10px 0 $medium
}

.gg-dice-3 {
    display: block;
    transform: scale(var(--ggs,1));
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: 2px solid $hard;
    border-radius: 3px
}
.gg-dice-3::before {
    content: "";
    display: block;
    box-sizing: border-box;
    background: $hard;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left:2px;
    top:2px;
    box-shadow:
        5px 5px 0 $hard,
        10px 10px 0 $hard
}
